.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.gpt3__features-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 426px;
    /* margin-right: 5rem; */
}

.gpt3__features-heading h1 {
    

    font-family: var(font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px; 
    margin: 1rem 0rem;
}

.gpt3__features-heading p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    
    color: #FF8A71;  
    margin: 2rem 0rem;
}

/* .gpt3__features-container {
    flex: 1.5;
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
} */

@media screen and (max-width:1050px) {
    .gpt3__features {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
}